.my-form-wrapper {
    max-width: 50vw;
    height: 100%;
}

// @media screen and (max-width: 768px) {
//     .my-form-wrapper {
//         max-width: 100%;
//     }
// }

.my-form {
    display: flex;
    align-items: flex-start;
    border: 0.1vw solid #04C8E8;
    border-radius: 2vw;
    flex-direction: column;
    box-sizing: border-box;
    // height: 100%;
    gap: 1vw;
    padding: 2vw;
    font-size: 1.3vw;
    font-weight: 600;
    background-color: #EEFAFC;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 10;
}

.my-form-input {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .my-form-input {
        display: flex;
        flex-direction: column;
    }
}

.my-form-input-div-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.my-form-input-div {
    display: flex;
    gap: 2vw;
    flex-direction: column;
}

.my-form-header {
    width: 100%;
}

.my-form-header span {
    color: #04C8E8;
    font-weight: 900;
}

.my-form-input-elements {
    padding: 1vw;
    font-size: 1.3vw;
    border: 0.1vw solid #04C8E8;
    border-radius: 0.75vw;
}

.btn {
    width: 100%;
    padding: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: #04C8E8;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2vw;
}

.btn:hover {
    background-color:#018ba1;
    transition: all 0.5s;
}

a {
    color: #04C8E8;
    text-decoration: underline;
    font-weight: 600;
}

.my-form-p {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    align-items: center;
    font-size: 1.2vw;
}