.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.features-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

@media screen and (max-width: 1220px) {
    .features-wrapper {
        flex-direction: column;
    }
}