.agent {
    display: flex;
    align-items: center;
    gap: 35px;
    font-weight: 600;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.agent:hover .circle1 {
    // display: block;
    animation: pulseeffects linear 1.3s infinite;
    animation-delay: 0.3s;
}

.agent:hover .circle2 {
    // display: block;
    animation: pulseeffects linear 1.3s infinite;
}

.agent .div-element {
    display: flex;
    flex-direction: column;
    transform: translate(20px, 20px);
}

.agent .highlight-span {
    color: #04C8E8;
}

.agent-phone {
    width: 50px;
    height: 50px;
    position: relative;
}

.agent .circle1 {
    fill: #04cae82c;
    opacity: 0;
}

.agent .circle2 {
    fill: #04cae82c;
    opacity: 0;
}

.agent .circle3 {
    fill: #05C8E8;
}

.agent-phone-icon {
    color: white;
    transform: translate(42px, -112px);
}

@keyframes pulseeffects {
    0% {
        opacity: 0.5;
    }   
    50% {
        opacity: 0.8;
    } 
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}