// .agent {
//     display: flex;
//     align-items: center;
//     gap: 35px;
//     font-weight: 600;
//     // height: 100px;
//     position: absolute;
//     left: 10px;
//     bottom: 50px;
//     cursor: pointer;
//     transition: all 0.5s;
// }

// .agent:hover .circle1 {
//     animation: pulseeffects linear 1.3s infinite;
//     animation-delay: 0.3s;
// }

// .agent:hover .circle2 {
//     animation: pulseeffects linear 1.3s infinite;
// }

// .agent .div-element {
//     display: flex;
//     flex-direction: column;
//     transform: translate(20px, 20px);
// }

// .agent .highlight-span {
//     color: #04C8E8;
// }

// .agent-phone {
//     width: 50px;
//     height: 50px;
//     position: relative;
// }

// .agent .circle1 {
//     fill: #04cae82c;
//     opacity: 0;
// }

// .agent .circle2 {
//     fill: #04cae82c;
//     opacity: 0;
// }

// .agent .circle3 {
//     fill: #05C8E8;
// }

// .agent-phone-icon {
//     color: white;
//     position: absolute;
//     transform: translate(42px, -112px);
// }

// @keyframes pulseeffects {
//     0% {
//         opacity: 0.5;
//     }   
//     50% {
//         opacity: 0.8;
//     } 
//     75% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }

// // @media screen and (min-height: 2160px) and (min-width: 3840px) {
// //     .agent {
// //         height: 10vw;
// //         font-size: 1.5vw;
// //         gap: 3vw;
// //     }
// //     .agent-phone {
// //         width: 5vw;
// //         height: 5vw;
// //     }
// //     .phone-svg {
// //         height: 10vw;
// //     }
// //     .agent-phone-icon {
// //         transform: translate(3.2vw, -7.2vw);
// //     }
// //     // .agent .div-element {
// //     //     transform: translate(-1vw, -1vw);
// //     // }
// // }

.agent {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    transition: all 0.5s;
    gap: 30px;
    position: absolute;
    left: 20px;
    bottom: 0;
    cursor: pointer;
}

.div-element {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.circle {
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.circle1 {
    background-color: #04cae82c;
    transition: all 0.5s;
}

.circle2 {
    background-color: #04cae82c;
    transition: all 0.5s;
}

.circle3 {
    background-color: #05C8E8;
    animation: none;
}

.agent:hover .circle1 {
    animation: pulseeffects linear 1.5s infinite;
}

.agent:hover .circle2 {
    animation-delay: 0.5s;
    animation: pulseeffects linear 1.3s infinite;
}

.agent:hover .circle3 {
    animation-delay: 1s;
}

@keyframes pulseeffects {
    0% {
        opacity: 0.5;
    }   
    50% {
        opacity: 0.8;
    } 
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 1920px) {
    .agent {
        font-size: 1vw;
        gap: 0.5vw;
        left: 2vw;
    }
    .div-element {
        width: 10vw;
    }
    .circle {
        padding: 0.8vw;
    }
}